<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <activity
      android:name=".CallAlertActivity"
      android:exported="false"
      android:excludeFromRecents="true"
      android:launchMode="singleTop"
      android:showWhenLocked="true"
      android:turnScreenOn="true"
      android:theme="@style/Theme.AppCompat.NoActionBar" />

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.yaadfileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/yaad_file_paths" />
    </provider>

    <receiver
      android:name=".YaadWidgetProvider"
      android:exported="true"
      android:label="Yaad">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/yaad_widget_info" />
    </receiver>

    <receiver
      android:name=".YaadQuickWidgetProvider"
      android:exported="true"
      android:label="Yaad Voice">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/yaad_quick_widget_info" />
    </receiver>
  </application>
</manifest>
